.App {
  text-align: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2f30;
  padding: 0px 30px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
}
